---
layout: default
---

{%-include back_link.html-%}

<article>
  <p class="post-meta">
    <time datetime="{{ page.date }}">{{ page.date | date: site.theme_config.date_format }}</time>
  </p>
  
  <h1>{{ page.title }}</h1>

  {{ content }}
</article>

<link rel="stylesheet" href="https://unpkg.com/gitalk/dist/gitalk.css">
<script src="https://unpkg.com/gitalk/dist/gitalk.min.js"></script>

<div id="gitalk-container"></div>
<script>
  var gitalk = new Gitalk({
    clientID: 'Ov23li7ZXWmrcPLg7gNZ',          // 你的 Client ID
    clientSecret: '2a2366512741ea105e1f68b6dccacbdafb462233',  // 你的 Client Secret
    repo: 'blog-comments',                   // 存储评论的 GitHub 仓库名
    owner: 'guanerllin',       // 仓库所有者的 GitHub 用户名
    admin: ['guanerlin'],     // 管理员的 GitHub 用户名
    id: testaaafeafdfasdfsdw342rgdbfqrrA##r324asdfasf,               // 确保唯一性和长度小于 50
    distractionFreeMode: false           // 类似 Facebook 的无干扰模式
  });

  gitalk.render('gitalk-container');
</script>
